# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.pnp/
.pnp.js

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.apk
*.aab
*.ipa

# Native
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/*.iml
android/.idea/
ios/Pods/
ios/build/
ios/*.xcworkspace/
ios/*.xcodeproj/
ios/*.pbxuser
ios/*.mode1v3
ios/*.mode2v3
ios/*.perspectivev3
ios/*.xcuserstate
ios/.xcode.env.local

# Metro
.metro-health-check*
.metro/

# debug
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store
*.pem
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk

# local env files
.env
.env*.local
.env.development
.env.test
.env.production

# typescript
*.tsbuildinfo
next-env.d.ts

# IDE
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Testing
coverage/
.nyc_output/

# Temporary files
*.tmp
*.temp
.cache/
.temp/
.tmp/

# Build
build/
dist/
out/
.next/

# Misc
*.log
*.csv
*.dat
*.pid
*.seed
*.pid.lock
